<div class="wrapper">
  <div class="left-card">
    <%= render 'profile_view' %>
    <%= render 'friendship' %>
  </div>
  <div class="right-card">
    <%= render 'feed' %>
    <%= render 'posts/form' %>
  </div>
</div>
